$admin-summary-width = 300px
$admin-summary-link-height = 30px


.admin-page-title
  display: inline-block
  margin-bottom: 20px
  padding-left: 10px
  font-size: 30px
  line-height: 1em
  text-transform: uppercase

.admin-section-title
  display: inline-block
  font-size: 20px
  line-height: 1em
  text-transform: uppercase
  padding: 0 200px 15px 0
  border-bottom: 1px solid $blue-light
  margin-bottom: 20px

.admin-add-btn
  float: right

.admin-summary-detail
  overflow: hidden

.admin-summary
  float: left
  width: $admin-summary-width
  padding-right: 50px

.admin-detail
  float: left
  width: $body-width - $admin-summary-width

.admin-summary-list
  reset-list
  display: block

.admin-summary-item
  display: block

.admin-summary-link
  display: block
  height: $admin-summary-link-height
  line-height: $admin-summary-link-height
  padding: 0 10px
  overflow: hidden
  text-overflow: ellipsis
  color: $gray
  text-decoration: none
  white-space: nowrap

  &:hover
    text-decoration: underline

  &.active
    background: $gray-lighter

    &:hover
      text-decoration: none

.admin-detail-empty-title
  font-size: 30px
  line-height: 40px
  color: $gray-light

.admin-form-group
  width: 100%
  max-width: 400px

  label
    display: block
    font-weight: bold

  input,
  textarea,
  select
    display: block
    width: 100%
    height: $input-height
    line-height: $input-height
    font-size: 16px
    margin-top: $input-margin-top
    margin-bottom: $input-margin-bottom
    padding: 0 5px
    border-radius: 3px
    border: 1px solid $gray-light

  $textarea-height-multiplier = 3
  textarea
    height: ($input-height * $textarea-height-multiplier) + (($input-margin-top + $input-margin-bottom) * $textarea-height-multiplier - 1)





