.admin-nav
  display: block
  width: 100%
  background: #ababab
  padding: 15px 20px
  font-size: 14px
  box-shadow: 0 3px 10px rgba($black, .2)

.admin-nav-list
  reset-list
  text-align: right

.admin-nav-item
  display: inline-block
  margin-right: 25px

  &:last-child
    margin-right: 0

  a
    color: $white
    text-decoration: none

    &:hover
      font-weight: underline

    &.active
      font-weight: bold