$button-height = $input-height
$btn-bg-color = $gray
$btn-primary-bg-color = $blue

.btn
  background: $btn-bg-color
  color: $white
  height: $button-height
  line-height: $button-height
  padding: 0 25px 30px 25px
  text-transform: uppercase
  border: 1px solid $btn-bg-color
  border-radius: 3px;
  cursor: pointer

.btn-primary
  background: $btn-primary-bg-color