
.form-group
  width: 100%
  max-width: 400px

  label
    display: block
    font-weight: bold

  input,
  textarea,
  select
    display: block
    width: 100%
    height: $input-height
    line-height: $input-height
    font-size: 16px
    margin-top: $input-margin-top
    margin-bottom: $input-margin-bottom
    padding: 0 5px
    border-radius: 3px
    border: 1px solid $gray-light

  input[type=checkbox]
    display: inline-block
    width: auto

  textarea
    height: $input-multiline-height

  select[multiple=true]
    height: $input-multiline-height






