
.form-group
  width: 100%
  max-width: 400px
  margin-top: $form-group-margin-top
  padding-bottom: 1px

  label
    display: block
    font-weight: bold

  input,
  textarea,
  select
    display: block
    width: 100%
    height: $input-height
    line-height: $input-height
    font-size: 16px
    margin-top: $input-margin-top
    margin-bottom: $input-margin-bottom
    padding: 0 5px
    border-radius: 3px
    border: 1px solid $gray-light

  input[type=checkbox]
    position: relative
    top: 5px
    display: inline-block
    width: auto
    margin-top: 0
    margin-bottom: 0

  textarea
    height: $input-multiline-height

  select[multiple=true]
    height: $input-multiline-height

.btn-group
  margin-top: $form-group-margin-top
  padding-bottom: 1px





