.main-nav
  display: block
  width: 100%
  background: #efefef
  padding: 20px
  box-shadow: 0 3px 10px rgba($black, .2)

.main-nav-list
  reset-list
  text-align: right

.main-nav-item
  display: inline-block
  margin-right: 25px

  &:last-child
    margin-right: 0

  a
    color: $black
    text-decoration: none

    &:hover
      font-weight: underline

