.card-btn
  height: 30px
  padding: 0 30px
  line-height: 30px
  background: transparent
  color: rgba($white, .7)
  border: 1px solid rgba($white, .3)
  border-radius: 2px
  text-transform: uppercase
  cursor: pointer

.card-summary
  display: none

  .card.is-on-table &
    display: block

.card-title
  font-size: 30px
  margin: 30px

.card-detail
  display: none

  .card.is-highlighted &
    display: block

.card-detail-list
  list-style: none
  margin-left: 0
  display: inline-block
  width: 33%

.card-detail-item
  display: block
  margin-bottom: 20px

