$cards-per-row = 2
$card-on-grid-margin = 20px
$card-grid-margin = 100px

card-horz-space(i)
  $card-width * col(i)

card-vert-space(i)
  row(i) * $card-height

col(i)
  i % $cards-per-row

row(i)
  floor(i / $cards-per-row)

for i in (1..50)
  .card.is-on-table:nth-of-type({i})
    left: $card-grid-margin + (col(i - 1) * $card-on-grid-margin) + card-horz-space(i - 1)
    top: $card-grid-margin + (row(i - 1) * $card-on-grid-margin) + card-vert-space(i - 1)