$card-width = 200px
$card-height = 200px
$card-border-width = 20px

$card-width-highlighted = 600px
$card-height-highlighted = 400px
$card-z-index-highlighted = 100

.card
  width: $card-width
  height: $card-height
  position: relative
  perspective: 800px
  transform-origin: 50% 100%
  transition: all 400ms
  cursor: pointer

  &.is-on-table
    position: absolute

  &.is-facedown .card-inner
    transform: rotateY(180deg)

  &.is-highlighted
    width: $card-width-highlighted
    height: $card-height-highlighted
    position: absolute
    top: 100px
    left: 50%
    margin-left: -($card-width-highlighted / 2)
    z-index: $card-z-index-highlighted

.card-inner
  width: 100%
  height: 100%
  position: absolute
  transform-style: preserve-3d
  transition: transform 1s


.card-side
  display: block
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  border-radius: 15px
  overflow: hidden

  .card.is-highlighted &
    box-shadow: 10px 15px 20px rgba($black, .4)

.card-front
  background: lightsteelblue
  background-size: cover
  font-size: 20px

.card-back
  background: $gray-dark
  transform: rotateY(180deg)
