$cards-per-row = 4
$card-on-grid-margin = 20px
$card-grid-margin = 100px

$card-back-starting-color = #e33f3f

card-horz-space(i, cardWidth, cardsPerRow)
  cardWidth * col(i, cardsPerRow)

card-vert-space(i, cardHeight, cardsPerRow)
  row(i, cardsPerRow) * cardHeight

col(i, cardsPerRow)
  i % cardsPerRow

row(i, cardsPerRow)
  floor(i / cardsPerRow)

card-color(i)
  r = (20 * i) % 240
  g = (40 * i) % 240
  b = (60 * i) % 240
  rgb(r, g, b)

card-palette(i)
  colors = #dd4848, #f9b616, #f9e616, #43e43f, #3fbbe4, #913fe4, #e43fbf
  colors[i % length(colors)]

gen-card-grid(gridMarginLeft, gridMarginTop, cardsPerRow, cardWidth, cardHeight, cardMargin)
  for i in (1..50)
    .card:nth-of-type({i})

      &.is-on-table
        left: gridMarginLeft + (col(i - 1, cardsPerRow) * cardMargin) + card-horz-space(i - 1, cardWidth, cardsPerRow)
        top: gridMarginTop + (row(i - 1, cardsPerRow) * cardMargin) + card-vert-space(i - 1, cardHeight, cardsPerRow)

      .card-back, .card-front
        background: card-palette(i)

gen-card-grid(20px, 120px, 2, 100px, 100px, 20px)

@media $bp-min-sm

  gen-card-grid(20px, 120px, 3, 150px, 150px, 20px)

@media $bp-min-med

  gen-card-grid(20px, 120px, 4, 200px, 200px, 20px)
