extends layouts/app

block content
  script(type='text/x-handlebars')
    {{ outlet }}

  script(type='text/x-handlebars', data-template-name="nights")
    {{#each}}
    {{#night-card subject=subject}}{{/night-card}}
    {{/each}}

  script(type='text/x-handlebars', data-template-name='components/night-card')
    <div class="card" {{bindAttr class="isFacedown:is-facedown:is-faceup"}} {{action "toggleFacedown"}}>
    <div class="card-inner">
    <div class="card-side card-front">
    {{subject}}
    </div>
    <div class="card-side card-back"></div>
    </div>
    </div>

